@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@100;400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #3e3e3e;
    box-sizing: border-box;
}

.container{
    position: relative;

}

.main input, button{
    margin: .1em;
}


.container .main{
    border-radius: 10px;
    margin-top: 15%;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    color: #12a5e5;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 2em;
    width: 40%;
    background-color: #5e5e5e;
}

.urgent-check{
    color: crimson;
    position: absolute;
    top: .5em;
    right: .5em;

}


.main a{
    position: absolute;
    bottom: .5em;
    right: .5em;
}

#contact{
    position: absolute;
    bottom: .5em;
    left: .5em;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.btn{
    text-align: center;
    margin-top: 175px;
    background-color: #5e5e5e;
    color: #12a5e5;
    transition: all .2s;
    border-radius: 10px;
    padding: 5px;
    max-width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.btn:hover{
    background-color: #3e3e3e;
    color: antiquewhite;
    cursor: pointer;
    border: 3px solid #5e5e5e;
}